<a href="https://colab.research.google.com/github/balamurugan213/Python-for-Data-science/blob/main/2_Create_DB_sqlite_Drive.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

We will be working with sqlite DB The entire database will be stored in one .DB file.

In [2]:
import sqlite3

# HOST = "localhost"
# USER_NAME = "root"
# PASSWORD = ""
DB_NAME = "/content/drive/My Drive/data/database.db"


def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    try:
        conn = sqlite3.connect(db_file)
        return conn
    except Exception as e:
        print(e)

    return None
if __name__ == '__main__':
#   Creating the database file
  create_connection(DB_NAME)

Creating a table in our DB

In [3]:
def create_tables(conn, create_table_sql):
    """ create a table from the create_table_sql statement
    :param conn: Connection object
    :param create_table_sql: a CREATE TABLE statement
    :return:
    """
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
        conn.commit()
    except Exception as e:
        print("Tables could not be created:", e)


def create_db():
    """
    A function used to create a database file to store all the data
    """
    connection = create_connection(DB_NAME)
    sql_create_sites_table = """ CREATE TABLE IF NOT EXISTS sites (
                                  id INTEGER PRIMARY KEY,
                                  link text NOT NULL,
                                  title text
                                ); """

    create_tables(conn=connection, create_table_sql=sql_create_sites_table)

if __name__ == '__main__':
  create_db()

Running your SQL queries.
If you do not know SQL syntax go here and read the following

*  SELECT - extracts data from a database
*  UPDATE - updates data in a database
*  DELETE - deletes data from a database
*  INSERT INTO - inserts new data into a database
*  CREATE DATABASE - creates a new database
*  CREATE TABLE - creates a new table

In [4]:
def run_query(conn, query, args=[]):
    """ create a table from the create_table_sql statement
    :param conn: Connection object
    :param query: a SQL query
    :return:
    """
    cursor = conn.cursor()
    if query.lower().startswith("select"):
        cursor.execute(query, args)
        return cursor.fetchall()
    else:
        cursor.execute(query, args)
    try:
        conn.commit()
    except Exception as e:
        print("ERROR OCCURED WHILE DB COMMIT", e)

if __name__ == '__main__':
  connection = create_connection(DB_NAME)
  sql_query = """INSERT INTO sites (id,link,title) VALUES (%s, '%s', '%s');""" % (2,"http://www.google.com","google")
  run_query(connection,sql_query)
  sql_query = "select * from sites"
  results = run_query(connection,sql_query)
  print(results)

[(2, 'http://www.google.com', 'google')]